.title{
    color: #0D0D0D;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    &_left{
        text-align: left;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 36px;
        line-height: 40px;
    }
    
}